html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    height: 100%;
    background-color: #F3F5F7;
    position: relative;
}

.flex-container {
    position:absolute;
    margin: 4rem;
    width: 90%;
    height: 80%;
    display: flex;    
    background-color: #F3F5F7;
}

/*container*/
.container-cont{
    border-radius: 10px;
    width: 70%;
    background-color: #e9edf159;
}

.container-arg h2{
    text-align: center;
    text-transform: uppercase;
    font-family: "Lora", serif;
    margin: 2rem 0;
}
.border-container{
    background-color: #FFFFFF;
    margin:0 0 4rem 0;
    padding: 0.1rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

input[type="radio"] {
    margin-right: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

/*fim do container*/

/*inicio da de progresso*/
.container-progress{
    display: flex;
    background-color: #F3F5F7;
    padding: 0 1rem;
    margin: 0 1rem 0 11rem;
    border: 2pix solid black;
}

.progres-texto{
    margin-top: 3rem;
    font-family:Roboto, sans-serif;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.te{
    font-size: 20px;
    padding-top: 0.9rem;
}

.te-color{
    color: #A4B1BF;
}



.progres{
    width: 0.4rem;
    margin-top: 3rem;
    margin-right: 1rem;
    background-color: #D6DDE3;
    border-radius: 3px;
}

.progres-bar{    
    height: 100%;
    width: 100%;
    background-color: #4caf50;
    border-radius: 4px;
}
/*fim da de progresso*/

.button[data-v-527ce04f] {
    background-color: #1576d1;
    color:white;
    cursor: pointer;
    display: flex;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 20px;
    position: relative;
    text-decoration: none;
}

.card-body{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.card{
border-radius: 8%;
}

.progress{
    margin: 2rem;
}

h5{
    text-align: center;
}